* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #b2b2b2, rgb(183, 21, 164));
    padding: 10px;
}

.todo-app {
    background-color: rgb(0, 221, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px 70px;
    width: 100%;
    max-width: 540px;
    text-align: center;
    font-weight: 100px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
    border-radius: 5px;
}

.row {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    background-color: white;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: red;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    
    cursor: pointer;
    position: relative;
   
    display: flex;
    align-items: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

ul li input[type="checkbox"] {
    display: none;
}

ul li .circle-checkbox {
    width: 30px;
    height: 30px;
    border: 0.5px solid #000000;
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


ul li .circle-checkbox.checked::before {
    content: '';
    background-image: url('images/checked.png');
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
}


ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.Checked {
    text-decoration: line-through;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 50px;
    color: #ff0000;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

